Repository nxz-group/playwright-testrail-helper: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck, test

biome:
  run: npx biome check --write {staged_files}
  stage_fixed: true

typecheck:
  run: npx tsc --noEmit

test:
  run: npm run test:changed {staged_files}

fix(utils): resolve PerformanceMonitor type safety issues
  src/utils/PerformanceMonitor.ts
Due: biome, test

feat(performance): implement comprehensive performance benchmarking suite
  src/performance/PerformanceBenchmark.ts
  tests/performance/PerformanceBenchmark.test.ts
Due: biome, test

feat(security): implement comprehensive security auditing system
  src/security/SecurityAuditor.ts
  tests/security/SecurityAuditor.test.ts
Due: biome, test

feat(migration): implement legacy migration tools with backward compatibility
  src/migration/LegacyMigrator.ts
Due: biome, test

feat(deployment): implement production validation system
  src/deployment/ProductionValidator.ts
Due: biome, test

feat(cli): implement production CLI tooling for operations
  src/cli/ProductionCLI.ts
Due: biome, test

docs(examples): add comprehensive usage examples and integration guides
  examples/advanced-usage.ts
  examples/basic-usage.ts
  examples/ci-cd-integration.ts
Due: biome, test

build: update package configuration and exports for Week 4 features
  package.json
  src/index.ts
Due: biome, test

docs: complete Week 4 implementation documentation and progress tracking
  docs/implementation-progress.md
  docs/week4-completion.md
Due: none

fix: resolve BatchProcessor test issues and improve test coverage
  src/utils/BatchProcessor.ts
  tests/unit/coordination/WorkerCoordinator.test.ts
  tests/unit/utils/BatchProcessor.test.ts
  tests/unit/utils/CacheManager.test.ts
  tests/unit/utils/PerformanceMonitor.test.ts
Due: biome, test

chore: optimize pre-commit hooks for development workflow
  lefthook.yml
Due: none

chore(config): disable noExplicitAny rule in biome configuration
  biome.json
Due: biome

chore: update performance benchmark and git hooks configuration
  lefthook.yml
  src/performance/PerformanceBenchmark.ts
  tests/performance/PerformanceBenchmark.test.ts
Due: biome, test

fix(types): resolve TypeScript compilation errors and apply code formatting
  jest.config.js
  lefthook.yml
  src/cli/ProductionCLI.ts
  src/client/TestRailApiClient.ts
  src/config/TestRailConfig.ts
  src/config/constants.ts
  src/deployment/ProductionValidator.ts
  src/index.ts
  src/managers/ResultManager.ts
  src/managers/TestCaseManager.ts
  src/managers/TestRunManager.ts
  src/migration/LegacyMigrator.ts
  src/performance/PerformanceBenchmark.ts
  src/security/SecurityAuditor.ts
  src/types/index.ts
  src/utils/BatchProcessor.ts
  src/utils/CircuitBreaker.ts
  src/utils/ErrorHandler.ts
  src/utils/FileUtils.ts
  src/utils/Logger.ts
  tests/mocks/testRailApi.mock.ts
  tests/performance/PerformanceBenchmark.test.ts
  tests/security/SecurityAuditor.test.ts
  tests/setup.ts
  tests/unit/client/TestRailApiClient.test.ts
  tests/unit/config/TestRailConfig.test.ts
  tests/unit/coordination/WorkerCoordinator.test.ts
  tests/unit/managers/ResultManager.test.ts
  tests/unit/managers/TestCaseManager.test.ts
  tests/unit/managers/TestRunManager.test.ts
  tests/unit/utils/BatchProcessor.test.ts
  tests/unit/utils/CacheManager.test.ts
  tests/unit/utils/CircuitBreaker.test.ts
  tests/unit/utils/ErrorHandler.test.ts
  tests/unit/utils/FileUtils.test.ts
  tests/unit/utils/Logger.test.ts
  tests/unit/utils/PerformanceMonitor.test.ts
  tsconfig.json
Due: biome, test

feat: finalize npm package setup for v1.0.0
  PULL_REQUEST.md
  biome.json
  dist/api/testrail-client.d.ts
  dist/api/testrail-client.js
  dist/examples/section-ids.example.d.ts
  dist/examples/section-ids.example.js
  dist/index.d.ts
  dist/index.js
  dist/managers/test-case-manager.d.ts
  dist/managers/test-case-manager.js
  dist/managers/test-run-manager.d.ts
  dist/managers/test-run-manager.js
  dist/managers/worker-manager.d.ts
  dist/managers/worker-manager.js
  dist/types/index.d.ts
  dist/types/index.js
  dist/utils/constants.d.ts
  dist/utils/constants.js
  dist/utils/errors.d.ts
  dist/utils/errors.js
  dist/utils/validation.d.ts
  dist/utils/validation.js
  src/api/testrail-client.ts
  src/index.ts
  src/managers/test-case-manager.ts
  src/managers/test-run-manager.ts
  src/managers/worker-manager.ts
  src/types/index.ts
  src/utils/errors.ts
  src/utils/validation.ts
Due: biome, test

docs: remove PULL_REQUEST.md
  PULL_REQUEST.md
Due: none

feat: change package access to public
  .nvmrc
  package.json
Due: biome

feat: publish package to public npm registry
  README.md
  package.json
Due: biome

feat: release v1.1.0 with enhanced Playwright integration
  CHANGELOG.md
  ENVIRONMENT_VARIABLES.md
  README.md
  dist/api/testrail-client.js
  dist/examples/playwright-integration.example.d.ts
  dist/examples/playwright-integration.example.js
  dist/index.d.ts
  dist/index.js
  dist/managers/test-case-manager.d.ts
  dist/managers/test-case-manager.js
  dist/managers/test-run-manager.d.ts
  dist/managers/test-run-manager.js
  dist/utils/constants.d.ts
  dist/utils/constants.js
  dist/utils/playwright-converter.d.ts
  dist/utils/playwright-converter.js
  dist/utils/validation.js
  package-lock.json
  package.json
  src/api/testrail-client.ts
  src/examples/playwright-integration.example.ts
  src/index.ts
  src/managers/test-case-manager.ts
  src/managers/test-run-manager.ts
  src/utils/constants.ts
  src/utils/playwright-converter.ts
  src/utils/validation.ts
  testRail/testRunResult.json
  tsconfig.json
Due: biome, test

feat: implement lazy loading for environment variables (v1.1.1)
  CHANGELOG.md
  dist/index.d.ts
  dist/index.js
  package.json
  src/index.ts
Due: biome, test

feat: Add automated failure capture and enhanced comment features v1.2.0
  CHANGELOG.md
  ENHANCED_FEATURES.md
  NEW_FEATURES_SUMMARY.md
  QUICK_START.md
  biome.json
  package.json
  src/examples/enhanced-failure-capture.example.ts
  src/examples/simple-usage.example.ts
  src/index.ts
  src/managers/test-case-manager.ts
  src/types/index.ts
  src/utils/comment-enhancer.ts
  src/utils/failure-capture.ts
  src/utils/playwright-converter.ts
Due: biome, test

fix: TypeScript compilation errors for npm publish
  src/examples/enhanced-failure-capture.example.ts
  src/index.ts
Due: biome, test

fix: remove unused variable and improve API client implementation
  src/api/testrail-client.ts
  src/managers/test-run-manager.ts
Due: biome, test

chore: update .gitignore to exclude build artifacts and runtime files
  .gitignore
  dist/api/testrail-client.d.ts
  dist/api/testrail-client.js
  dist/examples/playwright-integration.example.d.ts
  dist/examples/playwright-integration.example.js
  dist/examples/section-ids.example.d.ts
  dist/examples/section-ids.example.js
  dist/index.d.ts
  dist/index.js
  dist/managers/test-case-manager.d.ts
  dist/managers/test-case-manager.js
  dist/managers/test-run-manager.d.ts
  dist/managers/test-run-manager.js
  dist/managers/worker-manager.d.ts
  dist/managers/worker-manager.js
  dist/types/index.d.ts
  dist/types/index.js
  dist/utils/constants.d.ts
  dist/utils/constants.js
  dist/utils/errors.d.ts
  dist/utils/errors.js
  dist/utils/playwright-converter.d.ts
  dist/utils/playwright-converter.js
  dist/utils/validation.d.ts
  dist/utils/validation.js
  testRail/testRunResult.json
Due: biome, test

chore: bump version to 1.2.1
  package-lock.json
  package.json
Due: biome

feat: remove unnecessary debug logging
  src/api/testrail-client.ts
  src/managers/worker-manager.ts
Due: biome, test

chore: bump version to 1.2.2
  package-lock.json
  package.json
Due: biome

refactor: convert from public npm package to internal library
  .npmignore
  ENHANCED_FEATURES.md
  LICENSE
  NEW_FEATURES_SUMMARY.md
  README.md
  SETUP.md
  docs/CHANGELOG.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/INTEGRATION_EXAMPLES.md
  docs/PLATFORM_TYPES.md
  docs/QUICK_REFERENCE.md
  docs/QUICK_START.md
  docs/SETUP.md
  docs/TECHNICAL_DETAILS.md
  docs/TEST_TAGS.md
  docs/VISUAL_GUIDE.md
  package-lock.json
  package.json
  tsconfig.json
Due: biome

chore: bump version to 1.3.0 for internal library conversion
  package.json
Due: biome

docs: update installation guide and changelog for internal library
  README.md
  docs/CHANGELOG.md
Due: none

Add built dist files for v1.3.0 release
  .gitignore
  dist/api/testrail-client.d.ts
  dist/api/testrail-client.js
  dist/index.d.ts
  dist/index.js
  dist/managers/test-case-manager.d.ts
  dist/managers/test-case-manager.js
  dist/managers/test-run-manager.d.ts
  dist/managers/test-run-manager.js
  dist/managers/worker-manager.d.ts
  dist/managers/worker-manager.js
  dist/types/index.d.ts
  dist/types/index.js
  dist/utils/comment-enhancer.d.ts
  dist/utils/comment-enhancer.js
  dist/utils/constants.d.ts
  dist/utils/constants.js
  dist/utils/errors.d.ts
  dist/utils/errors.js
  dist/utils/failure-capture.d.ts
  dist/utils/failure-capture.js
  dist/utils/playwright-converter.d.ts
  dist/utils/playwright-converter.js
  dist/utils/validation.d.ts
  dist/utils/validation.js
Due: biome, test

refactor: update function names for legacy integration and advanced customization support
  lefthook.yml
  src/index.ts
Due: biome, test

chore: bump version to 1.3.1
  package.json
Due: biome

build: update dist for v1.3.1
  dist/index.d.ts
  dist/index.js
Due: biome, test

docs: update documentation
  README.md
  biome.json
  docs/API.md
  docs/ENVIRONMENT_VARIABLES.md
  docs/EXAMPLES.md
  docs/INTEGRATION_EXAMPLES.md
  docs/QUICK_REFERENCE.md
  docs/QUICK_START.md
  docs/SETUP.md
  docs/TECHNICAL_DETAILS.md
  lefthook.yml
Due: biome

feat: enhance failed test reporting with detailed step information
  src/examples/detailed-failed-steps.example.ts
  src/examples/import-failed-test.example.ts
  src/examples/playwright-testinfo-analysis.example.ts
  src/examples/your-failed-test.example.ts
  src/index.ts
  src/managers/test-case-manager.ts
  src/utils/comment-enhancer.ts
  src/utils/testinfo-analyzer.ts
Due: biome, test

chore: bump version to 1.3.2 and update changelog
  docs/CHANGELOG.md
  package.json
Due: biome

build: update dist for v1.3.2
  dist/index.d.ts
  dist/index.js
  dist/managers/test-case-manager.js
  dist/utils/comment-enhancer.d.ts
  dist/utils/comment-enhancer.js
  dist/utils/testinfo-analyzer.d.ts
  dist/utils/testinfo-analyzer.js
Due: biome, test

Path conditions:
  biome: any of: *.{js,ts,json}
  typecheck: any of: *.{ts}
  test: any of: *.{js,ts}
